<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="site-footer clearfix">
    <div class="sidebar-container">
        <div class="sidebar-inner">
            <div class="widget-area clearfix">
                <div class="widget widget_azh_widget">
                    <div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-3 foot-logo"> <img src="/images/logo1.png" alt="logo">
                                    <p class="hasimg">Hãy tận hưởng kỳ nghỉ cùng người thân và gia đình</p>
                                    <p class="hasimg">Đặt phòng ngay nhé!!!</p>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <h4>Liên hệ và giúp đỡ</h4>
                                    <ul class="two-columns">
                                        <li><a>Về chúng tôi</a>
                                        </li>
                                        <li><a>Blog</a>
                                        </li>
                                        <li><a>Liên hệ</a>
                                        </li>
                                        <li><a>Cẩm nang du lịch</a>
                                        </li>
                                        <li><a>Dịch vụ khách hàng</a>
                                        </li>
                                        <li><a>Booking</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <h4>Điểm đến</h4>
                                    <ul class="two-columns">
                                        <li><a th:href="@{/hotels(place='Hà nội', noAdult=0, noChildren=0)}">Hà nội</a>
                                        </li>
                                        <li><a th:href="@{/hotels(place='Đà lạt', noAdult=0, noChildren=0)}">Đà lạt</a>
                                        </li>
                                        <li><a th:href="@{/hotels(place='Phú Quốc', noAdult=0, noChildren=0)}">Phú Quốc</a>
                                        </li>
                                        <li><a th:href="@{/hotels(place='Nha trang', noAdult=0, noChildren=0)}">Nha trang</a>
                                        </li>
                                        <li><a th:href="@{/hotels(place='Hạ long', noAdult=0, noChildren=0)}">Hạ long</a>
                                        </li>
                                        <li><a th:href="@{/hotels(place='Hội An', noAdult=0, noChildren=0)}">Hội An</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-12 col-md-3">
                                    <h4>Trụ sở chính:</h4>
                                    <p>28800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A. Landmark : Next To Airport</p>
                                    <p> <span class="foot-phone">Phone: </span> <span class="foot-phone">+01 1245 2541</span> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="foot-sec2">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-3">
                                    <h4>Hình thức thanh toán</h4>
                                    <p class="hasimg">
                                        <img src="/images/momo.png" alt="payment" width="30%">
                                        <img src="/images/vnpay.png" alt="payment" width="30%">
                                    </p>
                                </div>
                                <div class="col-sm-12 col-md-5 foot-social">
                                    <h4>Theo dõi chúng tôi</h4>
                                    <p>trên các nền tảng xã hội để được ưu đãi tốt nhất</p>
                                    <ul>
                                        <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                                        <li><a href="#!"><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li>
                                        <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                                        <li><a href="#!"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                                        <li><a href="#!"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
                                        <li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .widget-area -->
        </div>
        <!-- .sidebar-inner -->
    </div>
    <!-- #quaternary -->
</footer>
<section class="copy">
    <div class="container">
        <p>copyrights © 2017 RN53Themes.net. &nbsp;&nbsp;All rights reserved. </p>
    </div>
</section>
</body>
</html>