<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <section>
        <div class="mm">
            <div class="mm-inn">
                <div class="mm-logo">
                    <a th:href="@{/}"><img src="/images/logo.png" alt="">
                    </a>
                </div>
                <div class="mm-icon"><span><i class="fa fa-bars show-menu" aria-hidden="true"></i></span>
                </div>
                <div class="mm-menu">
                    <div class="mm-close"><span><i class="fa fa-times hide-menu" aria-hidden="true"></i></span>
                    </div>
                    <ul>
                        <li><a th:href="@{/}">Trang chủ</a>
                        </li>
                        <li><a th:href="@{/blogs}">Blog</a>
                        </li>
                        <li th:if="${session.MY_SESSION != null}"><a th:href="@{/my-booking}">Kỳ nghỉ của tôi</a>
                        </li>
                        <li th:if="${session.MY_SESSION == null}"><a href="!#" data-toggle="modal" data-target="#modal1">Đăng nhập</a>
                        </li>
                        <li th:if="${session.MY_SESSION == null}"><a href="!#" data-toggle="modal" data-target="#modal2">Đăng ký</a>
                        </li>
                        <li th:if="${session.MY_SESSION != null}"><a th:text="${#strings.concat('Xin chào ',#authentication.principal.getFullname())}"></a>
                        </li>
                        <li th:if="${session.MY_SESSION != null}"><a href="javascript:void(0)" th:onclick="logout()">Đăng xuất</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--HEADER SECTION-->
    <section>
        <!--TOP SECTION-->
        <div class="menu-section">
            <div class="container">
                <div class="row">
                    <div class="top-bar">
                        <ul>
                            <li><a class='dropdown-button' href='#' data-activates='dropdown2'>Ngôn ngữ <i class="fa fa-angle-down"></i></a>
                                <ul id="dropdown2" class="dropdown-content drop-con-man" style="width: 97.6875px; position: absolute; top: 12.8px; left: 720.675px; opacity: 1; display: none;">
                                    <li>
                                        <a href="dashboard.html"><img src="/images/icon/15.png" alt="">Tiếng Việt</a>
                                    </li>
                                    <li>
                                        <a href="db-profile.html"><img src="/images/icon/2.png" alt="">Tiếng Anh</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#">Liên hệ: 1800 102 7275</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="logo">
                        <a th:href="@{/}"><img src="/images/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="menu-bar">
                        <ul>
                            <li><a th:href="@{/}">Trang chủ</a>
                            </li>
                            <li><a href="#" class='dropdown-button' data-activates='drop-home'>Khách sạn<i class="fa fa-angle-down"></i></a>
                                <ul id="drop-home" class="dropdown-content drop-con-man">
                                    <li><a href="index.html">Khách sạn 5 sao</a>
                                    </li>
                                    <li><a href="index-1.html">Khách sạn 4 sao</a>
                                    </li>
                                    <li><a href="index-2.html">Khách sạn 3 sao</a>
                                    </li>
                                    <li><a href="index-3.html">Khách sạn 2 sao</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="#" class='dropdown-button' data-activates='drop-room'>Điểm đến<i class="fa fa-angle-down"></i></a>
                                <ul id="drop-room" class="dropdown-content drop-con-man">
                                    <li><a href="index.html">Hà Nội</a>
                                    </li>
                                    <li><a href="index-1.html">Hạ Long</a>
                                    </li>
                                    <li><a href="index-2.html">Nha Trang</a>
                                    </li>
                                    <li><a href="index-3.html">Phú Quốc</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a th:href="@{/blogs}">Blog</a>
                            </li>
                            <li th:if="${session.MY_SESSION != null}"><a th:href="@{/my-booking}">Kỳ nghỉ của tôi</a>
                            </li>
                            <li th:if="${session.MY_SESSION == null}"><a href="!#" data-toggle="modal" data-target="#modal1">Đăng nhập</a>
                            </li>
                            <li th:if="${session.MY_SESSION == null}"><a href="!#" data-toggle="modal" data-target="#modal2">Đăng ký</a>
                            </li>
                            <li th:if="${session.MY_SESSION != null}"><a th:text="${#strings.concat('Xin chào ',#authentication.principal.getFullname())}"></a>
                            </li>
                            <li th:if="${session.MY_SESSION != null}"><a href="javascript:void(0)" th:onclick="logout()">Đăng xuất</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--END HEADER SECTION-->
    <!-- LOGIN SECTION -->
    <div id="modal1" class="modal fade in" role="dialog">
        <div class="log-in-pop">
            <div class="log-in-pop-left">
                <h1>Xin Chào... <span class="ng-binding"></span></h1>
                <p>Nếu chưa có tài khoản, <a href=""> tạo tài khoản mới</a>.</p>
                <h4>Đăng nhập bằng cách mạng xã hội</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                    </li>
                    <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="log-in-pop-right">
                <a href="#" class="pop-close" data-dismiss="modal"><img src="/images/cancel.png" alt="">
                </a>
                <h4>Đăng nhập</h4>
                <p>Nếu chưa có tài khoản, <a href=""> tạo tài khoản mới</a>. Chỉ mất vài phút</p>
                <form class="s12 ng-pristine ng-valid" id="formLogin">
                    <div>
                        <div class="input-field s12">
                            <input id="emailLogin" type="text" data-ng-model="name" class="validate ng-pristine ng-untouched ng-valid ng-empty">
                            <label>Email</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input id="passwordLogin" type="password" class="validate">
                            <label>Mật khẩu</label>
                        </div>
                    </div>
                    <p id="msg-login" class="msg-error" style="color: red"></p>
                    <div>
                        <div class="s12 log-ch-bx">
                            <p>
                                <input type="checkbox" id="test5">
                                <label for="test5">Nhớ mật khẩu</label>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s4">
                            <i class="waves-effect waves-light log-in-btn waves-input-wrapper" style=""><input id="btnLogin" type="button" value="Đăng nhập" class="waves-button-input"></i> </div>
                    </div>
                    <div>
                        <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal3">Quên mật khẩu</a> | <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal2">Tạo tài khoản mới</a> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- REGISTER SECTION -->
    <div id="modal2" class="modal fade in" role="dialog">
        <div class="log-in-pop">
            <div class="log-in-pop-left">
                <h1>Xin chào... <span class="ng-binding"></span></h1>
                <p>Nếu chưa có tài khoản, <a href=""> tạo tài khoản mới</a>. Chỉ mất vài phút</p>
                <h4>Đăng nhập bằng cách mạng xã hội</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i> Facebook</a>
                    </li>
                    <li><a href="#"><i class="fa fa-google"></i> Google+</a>
                    </li>
                    <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="log-in-pop-right">
                <a href="#" class="pop-close" data-dismiss="modal"><img src="/images/cancel.png" alt="">
                </a>
                <h4>Đăng ký</h4>
                <p>Nếu chưa có tài khoản, <a href=""> tạo tài khoản mới</a>. Chỉ mất vài phút</p>
                <form class="s12 ng-pristine ng-valid">
                    <div>
                        <div class="input-field s12">
                            <input id="fullnameRegister" type="text" data-ng-model="name1" class="validate ng-pristine ng-untouched ng-valid ng-empty">
                            <label>Họ và tên</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input id="emailRegister" type="email" class="validate">
                            <label>Email</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input id="passwordRegister" type="password" class="validate">
                            <label>Mật khẩu</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s12">
                            <input id="confirmedPasswordRegister" type="password" class="validate">
                            <label>Xác nhận lại mật khẩu</label>
                        </div>
                    </div>
                    <div>
                        <div class="input-field s4">
                            <i class="waves-effect waves-light log-in-btn waves-input-wrapper" style=""><input id="btnRegister" type="button" value="Đăng ký" class="waves-button-input"></i> </div>
                    </div>
                    <div>
                        <div class="input-field s12"> <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#modal1">Bạn đã có tài khoản ? Đăng nhập</a> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        document.getElementById('btnLogin').addEventListener('click',function (event){
            const emailLogin = document.getElementById('emailLogin');
            const passwordLogin = document.getElementById('passwordLogin');
            var dataLogin = {
                email: emailLogin.value,
                password: passwordLogin.value
            }
            console.log(dataLogin);
            axios.post('http://localhost:8080/api/auth/login',dataLogin)
                .then(function (response){
                    if(response.status === 200){
                        toastr.success('Đăng nhập thành công');
                        localStorage.setItem('email',emailLogin.value);
                        setTimeout(() =>{
                            location.reload();
                        },1500)
                    }
                })
                .catch(function (error) {
                    console.log(error);
                    toastr.error(error.response.data);
                })
        });
        function logout(){
            axios.get('http://localhost:8080/api/auth/logout')
                .then(function (response){
                    if(response.status === 200){
                        toastr.success('Đăng xuất thành công');
                        localStorage.clear();
                        setTimeout(() =>{
                            window.location.href = '/';
                        },1500)
                    }
                })
                .catch(function (error) {
                    console.log(error);
                    toastr.error(error.response.data);
                })
        }
        document.getElementById('btnRegister').addEventListener('click',function (){
            const fullnameRegister = document.getElementById('fullnameRegister');
            const emailRegister = document.getElementById('emailRegister');
            const passwordRegister = document.getElementById('passwordRegister');
            const confirmedPasswordRegister = document.getElementById('confirmedPasswordRegister');

            const dataRegister = {
                fullname: fullnameRegister.value,
                email: emailRegister.value,
                password: passwordRegister.value,
                confirmPassword: confirmedPasswordRegister.value
            }
            axios.post('http://localhost:8080/api/auth/register',dataRegister)
                .then(function (response){
                    if(response.status === 200){
                        toastr.success('Đăng ký thành công. Hãy vào gmail để xác thực tài khoản');
                        setTimeout(() =>{
                            location.reload();
                        },1500)
                    }
                })
                .catch(function (error) {
                    console.log(error);
                    toastr.error(error.response.data);
                })

        });
    </script>
</header>
</body>

</html>