<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">

<head>
	<title>MyHotel - Hotel Booking and Room Booking Online Html Responsive Template</title>
	<th:block id="css"></th:block>
</head>

<body data-ng-app="">
	<th:block id="main-content">
		<div class="inn-body-section pad-bot-55">
			<div class="container">
				<div class="row">
					<div class="page-head">
						<h2>Thông tin đặt phòng</h2>
						<div class="head-title">
							<div class="hl-1"></div>
							<div class="hl-2"></div>
							<div class="hl-3"></div>
						</div>
					</div>
					<div class="row">
						<!--TYPOGRAPHY SECTION-->
						<div class="col-md-6">
							<div class="head-typo typo-com">
								<h2>Thông tin người đặt</h2>
								<p>Vui lòng viết đầy đủ thông tin</p>
								<form class="col s12 ng-pristine ng-valid">
									<div class="row">
										<div class="input-field col s12">
											<input type="text" class="validate">
											<label>Họ và tên đầy đủ</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input type="text" class="validate">
											<label>Số điện thoại</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input type="email" class="validate">
											<label>Email</label>
										</div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<textarea id="textarea1" class="materialize-textarea" data-length="120"></textarea>
											<label for="textarea1">Yêu cầu đặc biệt</label>
											<span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span></div>
									</div>
									<div class="row">
										<div class="input-field col s12">
											<input style="color: #0e0e0e" type="button" value="Đặt phòng" class="btn btn-success">
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-6">
							<div class="head-typo typo-com">
								<h2>Thông tin phòng</h2>
								<div class="row">
									<div class="input-field col s12">
										<h3>Khách sạn ABC</h3>
										<p>Địa chỉ: <span>Hà nội</span></p>
										<p>Ngày đến: </p>
										<p>Ngày đi: </p>
										<h4>Phòng đôi</h4>
										<p>Số lượng người lớn: </p>
										<p>Số lượng trẻ em: </p>
									</div>
								</div>
							</div>
						</div>
						<!--END TYPOGRAPHY SECTION-->
					</div>
				</div>
			</div>
		</div>
		<!--TOP SECTION-->
	</th:block>
	<th:block id="js"></th:block>
</body>

</html>