<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block id="css"></th:block>
</head>
<body data-ng-app="">
<th:block id="main-content">
    <!--TOP SECTION-->
    <div class="inn-body-section pad-bot-55">
        <div class="container">
            <div class="row">
                <div class="page-head">
                    <h2>Đặt lại mật khẩu</h2>
                </div>
                <div style="text-align: center; margin: 0 auto; float: none; padding: 0 50px" class="log-in-pop-right">
                    <form class="s12 ng-pristine ng-valid">
                        <div>
                            <div class="input-field s12">
                                <input id="passwordChange" type="password" class="validate">
                                <label>Mật khẩu</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s12">
                                <input id="confirmedPasswordChange" type="password" class="validate">
                                <label>Xác nhận lại mật khẩu</label>
                            </div>
                        </div>
                        <div>
                            <div class="input-field s4">
                                <i class="waves-effect waves-light log-in-btn waves-input-wrapper" style=""><input id="btnChangePassword" type="button" value="Đăng ký" class="waves-button-input"></i> </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--TOP SECTION-->
</th:block>
<th:block id="js">
    <script>
        const data = [[${userId}]];
        console.log(data)

        const newPass = document.getElementById('passwordChange');
        const newPassCon = document.getElementById('confirmedPasswordChange');

        const btnChangePassword = document.getElementById('btnChangePassword');
        btnChangePassword.addEventListener('click',function (){
            axios.post('http://localhost:8080/api/auth/changePassword?uId='+data+'&nP='+newPass.value+'&npC='+newPassCon.value)
                .then(res => {
                    if (res.status === 200){
                        toastr.success('Đổi mật khẩu thành công');
                        setTimeout(() =>{
                            window.location.href = '/';
                        },1500)
                    }else {
                        toastr.error(res.response);
                    }
                })
                .catch(err => {
                    toastr.error(err.response.data);
                })
        })
    </script>
</th:block>
</body>
</html>