<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">

<head>
	<title>MyHotel - Hotel Booking and Room Booking Online Html Responsive Template</title>
	<th:block id="css">
	</th:block>
</head>

<body data-ng-app="">
	<th:block id="main-content">
		<!--TOP SECTION-->
		<div class="inn-body-section inn-detail inn-hotel-1" th:style="|background: url(${hotelDetail.poster}) no-repeat;background-attachment: fixed;
    background-size: 40%;|">
			<div class="container">
				<div class="row">
					<div class="inn-bod">
						<div class="inn-detail-p1 inn-com">
							<h2 th:text="${hotelDetail.name}">Golden Gate, United States</h2>
							<div class="r2-ratt" >
								<p>Hạng: <i class="fa fa-star" th:each="star : ${#numbers.sequence(1,hotelDetail.rating_star,1)}"></i></p>
							</div>
							<p th:text="${hotelDetail.getDescription()}">Discover two of South America’s greatest cities, Rio de Janeiro and Buenos Aires, at a leisurely pace. A major highlight on this journey is a visit to Iguassu Falls in between your two city stays. It truly is one of the most spectacular sights on Earth. See the impressive falls from both the Brazilian and Argentine sides.</p>
						</div>
						<div class="inn-detail-p1 inn-com inn-com-list-point">
							<div class="detail-title">
								<h2>Tiện ích khách sạn</h2>
							</div>
							<ul th:each="utility : ${hotelDetail.utilities}">
								<li><i class="fa fa-check" aria-hidden="true"></i><span th:text="${utility.name}"></span> </li>

							</ul>
						</div>
						<div class="inn-detail-p1 inn-com">
							<div class="detail-title">
								<h2>Thư viện ảnh</h2>
							</div>
							<div class="room-photo-all">
								<div class="col-md-3 room-photo" th:each="image: ${hotelDetail.imageList}">
									<div class="gall-grid room-photo-gal"> <img class="materialboxed" data-caption="A picture of a way with a group of trees in a park" th:src="${image.path}" alt="" /> </div>
								</div>
							</div>
						</div>
						<div class="inn-detail-p1 inn-com">
							<div class="detail-title">
								<h2>Loại phòng</h2>
							</div>
							<div class="re-room">
								<ul th:each="hotelRoom : ${hotelRooms}">
									<li>
										<a th:href="@{/hotel/{hotelId}/room/{roomId}/{slug} (hotelId = ${hotelRoom.hotel.id},roomId = ${hotelRoom.room.id},slug = ${hotelRoom.room.slug})}">
											<div class="re-room-list">
												<div class="col-md-3 re-room-list-1"><img th:src="${hotelRoom.room.poster}" alt=""> </div>
												<div class="col-md-6 re-room-list-2">
													<h4 th:text="${hotelRoom.room.name}">Ultra Deluxe</h4>
													<p th:text="${#strings.concat('Diện tích : ', hotelRoom.room.area)}"></div>
												<div class="col-md-3 re-room-list-3"> <span class="hot-list-p3-1">1 đêm</span> <span class="hot-list-p3-2" th:text="${#numbers.formatDecimal(hotelRoom.price*(1 - hotelRoom.discount), 0, 'COMMA', 0, 'POINT').concat('đ')}"></span> <a th:href="@{/hotel/{hotelId}/room/{roomId}/{slug} (hotelId = ${hotelRoom.hotel.id},roomId = ${hotelRoom.room.id},slug = ${hotelRoom.room.slug})}" class="hot-page2-alp-quot-btn spec-btn-text">Book Now</a> </div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="col-md-12" th:if="${hotelRooms.getTotalPages() > 1}">
								<ul class="pagination">
									<li th:if="${currentPage > 1}" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
										<a th:href="@{/hotel/{id}/{slug} (page = ${currentPage - 1},id=${hotelDetail.id},slug=${hotelDetail.slug})}">Previous</a>
									</li>
									<li class="waves-effect" th:each="pageNumber : ${#numbers.sequence(1,hotelRooms.getTotalPages())}" th:classappend="${pageNumber == currentPage ? 'active' : ''}">
										<a th:text="${pageNumber}" th:href="@{/hotel/{id}/{slug} (page=${pageNumber},id=${hotelDetail.id},slug=${hotelDetail.slug})}">1</a>
									</li>
									<li th:if="${currentPage < hotelRooms.getTotalPages()}"  th:classappend="${currentPage == hotelRooms.getTotalPages() ? 'disabled' : ''}">
										<a th:href="@{/hotel/{id}/{slug} (page = ${currentPage + 1},id=${hotelDetail.id},slug=${hotelDetail.slug})}">Next</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="inn-detail-p1 inn-com">
							<div class="detail-title">
								<h2>Đánh giá</h2>
							</div>
							<div th:if="${session.MY_SESSION != null && bookings > 0}" class="marginBottom">
								<button data-toggle="modal" data-target="#modalReviews" class="btn btn-danger">Viết bình luận</button>
							</div>
							<div class="modal fade" id="modalReviews" tabindex="-1" role="dialog" aria-labelledby="modalAddHotelRoom" aria-hidden="true">
								<div class="modal-dialog modal-dialog-centered" role="document">
									<div class="modal-content">
										<div class="modal-body">
											<div>
												<div class="rating-container text-center mb-3">
													<span class="rating-item fs-5" data-value="1"><i class="fa fa-star fa-lg"></i></span>
													<span class="rating-item fs-5" data-value="2"><i class="fa fa-star fa-lg"></i></span>
													<span class="rating-item fs-5" data-value="3"><i class="fa fa-star fa-lg"></i></span>
													<span class="rating-item fs-5" data-value="4"><i class="fa fa-star fa-lg"></i></span>
													<span class="rating-item fs-5" data-value="5"><i class="fa fa-star fa-lg"></i></span>
													<span class="rating-item fs-5" data-value="6"><i class="fa fa-star fa-lg"></i></span>
													<span class="rating-item fs-5" data-value="7"><i class="fa fa-star fa-lg"></i></span>
													<span class="rating-item fs-5" data-value="8"><i class="fa fa-star fa-lg"></i></span>
													<span class="rating-item fs-5" data-value="9"><i class="fa fa-star fa-lg"></i></span>
													<span class="rating-item fs-5" data-value="10"><i class="fa fa-star fa-lg"></i></span>
												</div>
											</div>
											<div class="form-floating">
												<textarea class="form-control" id="rating-content" placeholder="Viết bình luận" style="height: 100px"></textarea>
											</div>
										</div>
										<div class="modal-footer d-flex justify-content-center">
											<button id="btn-handle-review" type="button" class="btn btn-primary">Hoàn tất</button>
										</div>
									</div>
								</div>
							</div>
							<div th:each="review : ${reviews}">
								<div class="room-rat-inn room-rat-bor">
									<div class="row">
										<div class="col-md-12 room-rat-body">
											<div class="room-rat-img"> <img width="10%" th:src="${review.user.avatar}" alt="">
												<p th:text="${review.user.fullname}">Orange Fab &amp; Weld</p> <span th:text="${#dates.format(review.createdAt,'dd/MM/yyyy')}">19th January, 2017</span>
											</div>
											<div class="dir-rat-star">
												<p th:text="${review.getRatingText()}"></p>
												<i class="fa fa-star" aria-hidden="true" th:each="star : ${#numbers.sequence(1,review.rating,1)}"></i>
												<i class="fa fa-star-o" aria-hidden="true" th:each="star : ${#numbers.sequence(review.rating,9,1)}"></i>
											</div>
											<p th:text="${review.content}">Michael &amp; his team have been helping us with our eqiupment finance for the past 5 years - I think that says a quite a lot.. Michael is always ready to go the extra mile, always available, always helpfull that goes the same for his team that work with him - definatley our first phone call.</p>
											<ul>
												<li><a href="#"><span>Thích</span><i class="fa fa-thumbs-o-up"></i></a> </li>
												<li><a href="#"><span>Không thích</span><i class="fa fa-thumbs-o-down"></i></a> </li>
												<li><a href="#"><span>Báo cáo</span> <i class="fa fa-flag-o"></i></a> </li>
												<li><a href="#"><span>Phản hồi</span> <i class="fa fa-commenting-o"></i></a> </li>
												<li><a href="#"><span>Chia sẻ</span>  <i class="fa fa-facebook"></i></a> </li>
												<li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
												<li><a href="#"><i class="fa fa-twitter"></i></a> </li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
												<li><a href="#"><i class="fa fa-youtube"></i></a> </li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="inn-detail-p1 inn-com room-soc-share">
							<div class="detail-title">
								<h2>Chia sẻ khách sạn</h2>
							</div>
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a> </li>
								<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i> Google+</a> </li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
								</li>
								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
								</li>
								<li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i> Whats App</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--TOP SECTION-->
	</th:block>
	<th:block id="js">
		<script>
			const hotelId = [[${hotelDetail.id}]];
			let countStar = 0;
			const ratingItems = document.querySelectorAll('.rating-item');
			// Function to highlight stars up to the selected one
			function highlightStars(starCount) {
				resetStars();
				for (var i = 0; i < ratingItems.length; i++) {
					if (parseInt(ratingItems[i].dataset.value,10) <= starCount) {
						ratingItems[i].classList.add('text-warning2');
					}
				}
			}

			// Function to reset all stars
			function resetStars() {
				for (var i = 0; i < ratingItems.length; i++) {
					ratingItems[i].classList.remove('text-warning2');
				}
			}
			document.addEventListener("DOMContentLoaded", function () {


				for (let i = 0; i < ratingItems.length; i++) {
					// MouseHover event
					ratingItems[i].addEventListener('mouseover', function () {
						let currentStar = parseInt(this.dataset.value,10);
						highlightStars(currentStar);
					});

					// MouseClick event
					ratingItems[i].addEventListener('click', function () {
						var selectedStar = parseInt(this.dataset.value,10);
						// alert('You selected ' + selectedStar + ' stars!');
						highlightStars(selectedStar);
						countStar = selectedStar;
						// You can send the selected rating to the server or perform other actions here.
					});
				}
			});
			const btnHandleReview = document.getElementById('btn-handle-review')
			const ratingContentEl = document.getElementById('rating-content')
			btnHandleReview.addEventListener('click',function () {
				createReview()
			});
			const createReview = () => {
				// Kiểm tra xem người dùng đã đánh giá chưa?
				if(!countStar) {
					toastr.error('Bạn chưa đánh giá.')
					return;
				}

				// Kiểm tra ndung review có hợp lệ không?
				if(!ratingContentEl.value.trim()) {
					toastr.error('Bạn chưa nhập nội dung đánh giá.')
					return;
				}

				const data = {
					rating: countStar,
					content: ratingContentEl.value,
					hotelId: hotelId
				}
				console.log(data);
				// Gọi API để tạo mới review sử dụng axios
				axios.post('http://localhost:8080/api/reviews', data)
						.then(function (response) {
							toastr.success('Tạo mới review thành công.')
							// Đóng modal
							$('#modalReviews').hide();
							window.location.reload();
						})
						.catch(function (error) {
							console.log(error);
							toastr.error(error.message)
						});
			}
		</script>
	</th:block>
</body>

</html>