<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">

<head>
	<title>MyHotel - Hotel Booking and Room Booking Online Html Responsive Template</title>
	<th:block id="css"></th:block>
</head>

<body data-ng-app="">
	<th:block id="main-content">
		<div class="inn-body-section pad-bot-55">
			<div class="container">
				<div class="row">
					<div class="page-head">
						<h2>Kỳ nghỉ của tôi</h2>
						<div class="head-title">
							<div class="hl-1"></div>
							<div class="hl-2"></div>
							<div class="hl-3"></div>
						</div>
					</div>
					<div class="row">
						<div class="head-typo typo-com">
							<table class="table">
								<thead>
								<tr>
									<th>Mã booking</th>
									<th>Địa điểm</th>
									<th>Khách sạn</th>
									<th>Trạng thái</th>
									<th>Chi tiết</th>
								</tr>
								</thead>
								<tbody>
								<tr th:each="booking : ${bookings}">
									<td th:text="${booking.getKey().id}">1</td>
									<td th:text="${booking.getValue().hotel.province.name}">John</td>
									<td th:text="${booking.getKey().hotel_room.hotel.name}">Doe</td>
									<td><span th:class="${booking.getKey().status != 0 ? 'db-success': 'db-not-success'}"><th:block th:if="${booking.getKey().status == 0}">Chờ xử lý</th:block><th:block th:if="${booking.getKey().status == 1}">Đã xác nhận</th:block><th:block th:if="${booking.getKey().status == 2}">Đã thanh toán</th:block></span></td>
									<td>
										<button type="button" class="btnDetailBooking" data-toggle="modal" th:attr="data-target='#detailBooking'+${booking.getKey().id}" >Xem</button>
										<a th:if="${booking.getKey().status == 1}" type="button" class="btnDetailBooking" th:href="@{/submitOrder/{bookingId} (bookingId = ${booking.getKey().id})}"> Thanh Toán</a>
										<!-- Modal -->
										<div class="modal fade" th:id="${#strings.concat('detailBooking',booking.getKey().id)}" tabindex="-1" role="dialog" aria-labelledby="detailBooking" aria-hidden="true">
											<div class="modal-dialog modal-dialog-centered" role="document">
												<div class="modal-content">
													<div class="modal-body">
														<div>
															<h3 th:text="${#strings.concat('Khách sạn ',booking.getValue().hotel.name)}">Khách sạn ABC</h3>
															<p>Địa chỉ: <span th:text="${booking.getValue().hotel.address}">Hà nội</span></p>
															<p>Ngày đến: <span th:text="${#dates.format(booking.getKey().check_in_date,'dd/MM/yyyy')}" id="checkInDate"></span></p>
															<p>Ngày đi: <span th:text="${#dates.format(booking.getKey().check_out_date,'dd/MM/yyyy')}" id="checkOutDate"></span></p>
															<h3 th:text="${#strings.concat('Phòng ', booking.getValue().room.name)}">Phòng đôi</h3>
															<p>Số lượng người lớn: <span th:text="${booking.getKey().amount_adult}" id="noAdult"></span></p>
															<p>Số lượng trẻ em: <span th:text="${booking.getKey().amount_child}" id="noChildren"></span> </p>
															<h4>Tổng cộng thanh toán</h4>
															<p>Khách sạn: <span class="room-price-2" th:text="${#numbers.formatDecimal(booking.getValue().price*booking.getValue().discount, 0, 'COMMA', 0, 'POINT')}"></span></p>
															<p>Tổng tiền: <span id="totalPrice" class="room-price-2" th:text="${#numbers.formatDecimal(booking.getValue().price*booking.getValue().discount, 0, 'COMMA', 0, 'POINT')}"></span></p>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
								</tbody>
							</table>
						</div>
						<!--END TYPOGRAPHY SECTION-->
					</div>
				</div>
			</div>
		</div>
		<!--TOP SECTION-->
	</th:block>
	<th:block id="js">
		<script th:inline="javascript">
		</script>
	</th:block>
</body>

</html>