<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">

<head>
	<title>Booking Vi Vu</title>
	<th:block id="css"></th:block>
</head>

<body data-ng-app="">
	<th:block id="main-content">
		<!--TOP SECTION-->
		<div class="hp-banner"> <img height="400px" th:src="${roomDetail.poster}" alt=""> </div>
		<!--END HOTEL ROOMS-->
		<!--CHECK AVAILABILITY FORM-->
		<div class="check-available">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="inn-com-form">
							<form class="col s12">
								<div class="row">
									<div class="input-field col s12 m4 l3">
										<input id="inputNoAdult" type="number" min="0">
										<label>Số lượng người lớn</label>
									</div>
									<div class="input-field col s12 m4 l3">
										<input id="inputNoChildren" type="number" min="0">
										<label>Số lượng trẻ em</label>
									</div>
									<div class="input-field col s12 m4 l3">
										<input type="text" id="from" name="from">
										<label for="from">Ngày đến</label>
									</div>
									<div class="input-field col s12 m4 l3">
										<input type="text" id="to" name="to">
										<label for="to">Ngày trả</label>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--END CHECK AVAILABILITY FORM-->
		<div class="hom-com">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="hp-section">
								<div class="hp-sub-tit">
									<h4><span th:text="${roomDetail.getName()}">Master Suite</span></h4>
								</div>
								<div class="hp-amini detai-2p">
									<p th:text="${roomDetail.description}"></p>
								</div>
							</div>
							<div class="hp-section">
								<div class="hp-sub-tit">
									<h4><span>Mô Tả Tổng Quan</span></h4>
								</div>
								<div class="hp-over">
									<ul class="nav nav-tabs hp-over-nav">
										<li class="active">
											<a data-toggle="tab" href="#menu1"><img src="/images/icon/a8.png" alt=""> <span class="tab-hide">Tổng Quan</span>
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#menu2"><img src="/images/icon/a10.png" alt=""> <span class="tab-hide">Tiện nghi</span>
											</a>
										</li>
<!--										<li>-->
<!--											<a data-toggle="tab" href="#menu3"><img src="/images/icon/a11.png" alt=""> <span class="tab-hide">Tính năng khác</span>-->
<!--											</a>-->
<!--										</li>-->
									</ul>
									<div class="tab-content">
										<div id="menu1" class="tab-pane fade tab-space active in">
											<div class="hp-main-overview">
												<ul>
													<li>Tối đa: <span th:text="${roomDetail.getMax_adult() + roomDetail.getMax_child()}"></span>
													</li>
													<li>Diện tích : <span th:text="${roomDetail.getArea()}">800 sq. feet</span>
													</li>
													<li>Số giường : <span th:text="${roomDetail.getQuantity_of_bed()}">Available per request</span>
													</li>
													<li>Ăn sáng <span th:text="${roomDetail.have_breafast} ? 'Có':'Không có'">Yes</span>
													</li>
													<li>Hút thuốc : <span th:text="${roomDetail.smoking} ? 'Có':'Không'" th:class="${roomDetail.smoking} ? 'ov-yes':'ov-no'">Yes</span>
													</li>
												</ul>
											</div>
										</div>
										<div id="menu2" class="tab-pane fade tab-space">
											<div class="hp-main-overview">
												<ul th:each="utility: ${roomDetail.utilities}">
													<li th:text="${utility.name}">Tối đa</li>
												</ul>
											</div>
										</div>
<!--										<div id="menu3" class="tab-pane fade tab-space">-->
<!--											<p>Maecenas erat lorem, vulputate sed ex at, vehicula dignissim risus. Nullam non nisi congue elit cursus tempus. Nunc vel ante nec libero semper maximus. Donec cursus sed massa eget commodo. Phasellus semper neque id iaculis malesuada. Nulla efficitur dui vitae orci blandit tempor. Mauris sed venenatis nibh, sed sodales risus.</p>-->
<!--											<p>Nam sit amet tortor in elit fermentum consectetur et sit amet eros. Sed varius velit at eros tempor sodales. Fusce at enim at lectus sollicitudin pharetra at in risus. Donec ut semper turpis. Maecenas lobortis ante ut eros scelerisque, at semper augue ullamcorper.</p>-->
<!--											<p>Maecenas erat lorem, vulputate sed ex at, vehicula dignissim risus. Nullam non nisi congue elit cursus tempus. Nunc vel ante nec libero semper maximus. Donec cursus sed massa eget commodo. Phasellus semper neque id iaculis malesuada. Nulla efficitur dui vitae orci blandit tempor. Mauris sed venenatis nibh, sed sodales risus.</p>-->
<!--											<p>Nam sit amet tortor in elit fermentum consectetur et sit amet eros. Sed varius velit at eros tempor sodales. Fusce at enim at lectus sollicitudin pharetra at in risus. Donec ut semper turpis. Maecenas lobortis ante ut eros scelerisque, at semper augue ullamcorper.</p>-->
<!--										</div>-->
									</div>
								</div>
							</div>
							<div class="hp-section">
								<div class="hp-sub-tit">
									<h4><span>Thư viện ảnh của </span><span th:text="${roomDetail.name}"></span></h4>
								</div>
								<div class="">
									<div class="h-gal">
										<ul>
											<li th:each="image : ${roomDetail.imageList}"><img class="materialboxed" data-caption="Hotel Captions" th:src="${image.path}" alt="">
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<!--=========================================-->
						<div class="hp-call hp-right-com">
							<div class="hp-call-in"> <img src="/images/icon/dbc4.png" alt="">
								<h3>Đặt ngay <span>để được ưu đãi tốt nhất</span></h3><button th:onclick="|bookingRoom(${hotel.id},${roomDetail.id})|">BOOK NOW</button> </div>
						</div>
						<!--=========================================-->
						<!--=========================================-->
						<div class="hp-book hp-right-com">
							<div class="hp-book-in">
								<button class="like-button"><i class="fa fa-heart-o"></i>Thêm vào danh sách</button> <span>Chia sẻ phòng này</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i> Share</a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i> Tweet</a>
									</li>
									<li><a href="#"><i class="fa fa-google-plus"></i> Share</a>
									</li>
									<!-- <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li> -->
								</ul>
							</div>
						</div>
						<!--=========================================-->
					</div>
				</div>
			</div>
		</div>
	</th:block>
<th:block id="js">
	<script th:inline="javascript">
		const noAdult = localStorage.getItem('noAdult');
		const noChildren = localStorage.getItem('noChildren');
		const checkInDate = localStorage.getItem('checkInDate');
		const checkOutDate = localStorage.getItem('checkOutDate');

		const inputNoAdult = document.getElementById('inputNoAdult');
		const inputNoChildren = document.getElementById('inputNoChildren');
		let from = document.getElementById('from');
		let to = document.getElementById('to');

		if(noAdult !== null || noAdult !== '' || noAdult !== undefined){
			inputNoAdult.value = noAdult;
		}else {
			inputNoAdult.value = '';
		}
		if(noChildren !== null || noChildren !== '' || noChildren !== undefined){
			inputNoChildren.value = noChildren;
		}else {
			inputNoChildren.value = '';
		}
		if(checkInDate !== null || checkInDate !== '' || checkInDate !== undefined){
			from.value = checkInDate;
		}else {
			from.value = '';
		}
		if(checkOutDate !== null || checkOutDate !== '' || checkOutDate !== undefined){
			to.value = checkOutDate;
		}else {
			to.value = '';
		}

		function validateForm(){
			var valid = true;
			resetErrorMessages();

			if(inputNoAdult.value.trim() === ''){
				valid = false;
				displayErrorMessage('inputNoAdult');
			}

			if (inputNoChildren.value === ''){
				valid = false;
				displayErrorMessage('inputNoChildren');
			}

			if (from.value === ''){
				valid = false;
				displayErrorMessage('from');
			}
			if (to.value === ''){
				valid = false;
				displayErrorMessage('to');
			}
			return valid;
		}
		function resetErrorMessages(){
			var errorMessages = document.querySelectorAll('input');
			errorMessages.forEach(function (msg) {
				msg.removeAttribute('style');
			});
		}
		function displayErrorMessage(elementId) {
			var errorMessageElement = document.querySelector("#"+elementId);
			errorMessageElement.setAttribute('style','border: 1px solid red;');
		}
		function bookingRoom(hotelId, roomId){
			if(!validateForm()){
				return;
			}
			if (localStorage.getItem('email') == null){
				toastr.error("Vui lòng đăng nhập");
				return;
			}

			window.location.href = 'http://localhost:8080/booking/'+hotelId+'/'+roomId;
		}
	</script>
</th:block>
</body>

</html>