<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">

<head>
	<title>Booking Vi Vu</title>
	<th:block id="css"></th:block>
</head>

<body data-ng-app="">
	<th:block id="main-content">
		<!--TOP SECTION-->
		<div class="hp-banner"> <img height="400px" th:src="${roomDetail.poster}" alt=""> </div>
		<!--END HOTEL ROOMS-->
		<!--CHECK AVAILABILITY FORM-->
		<div class="check-available">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="inn-com-form">
							<form class="col s12">
								<div class="row">
									<div class="col s12 avail-title">
										<h4>Tìm phòng</h4> </div>
								</div>
								<div class="row">
									<div class="input-field col s12 m4 l2">
										<select>
											<option value="" disabled selected>Địa điểm</option>
											<option value="1">Hà Nội</option>
											<option value="2">Phú Quốc</option>
											<option value="3">Hạ Long</option>
											<option value="4">Nha Trang</option>
											<option value="5">Hội An</option>
										</select>
									</div>
									<div class="input-field col s12 m4 l2">
										<select>
											<option value="" disabled selected>Số người lớn</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
										</select>
									</div>
									<div class="input-field col s12 m4 l2">
										<select>
											<option value="" disabled selected>Số trẻ em</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
											<option value="4">4</option>
										</select>
									</div>
									<div class="input-field col s12 m4 l2">
										<input type="text" id="from" name="from">
										<label for="from">Ngày đến</label>
									</div>
									<div class="input-field col s12 m4 l2">
										<input type="text" id="to" name="to">
										<label for="to">Ngày trả</label>
									</div>
									<div class="input-field col s12 m4 l2">
										<input type="submit" value="tìm" class="form-btn"> </div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--END CHECK AVAILABILITY FORM-->
		<div class="hom-com">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="hp-section">
								<div class="hp-sub-tit">
									<h4>Phòng <span th:text="${roomDetail.getName()}">Master Suite</span></h4>
									<p>Aliquam id tempor sem. Cras molestie risus et lobortis congue. Donec id est consectetur, cursus tellus at, mattis lacus.</p>
								</div>
								<div class="hp-amini detai-2p">
									<p>Maecenas erat lorem, vulputate sed ex at, vehicula dignissim risus. Nullam non nisi congue elit cursus tempus. Nunc vel ante nec libero semper maximus. Donec cursus sed massa eget commodo. Phasellus semper neque id iaculis malesuada. Nulla efficitur dui vitae orci blandit tempor. Mauris sed venenatis nibh, sed sodales risus.</p>
									<p>Nam sit amet tortor in elit fermentum consectetur et sit amet eros. Sed varius velit at eros tempor sodales. Fusce at enim at lectus sollicitudin pharetra at in risus. Donec ut semper turpis. Maecenas lobortis ante ut eros scelerisque, at semper augue ullamcorper.</p>
								</div>
							</div>
							<div class="hp-section">
								<div class="hp-sub-tit">
									<h4><span>Mô Tả Tổng Quan</span></h4>
								</div>
								<div class="hp-over">
									<ul class="nav nav-tabs hp-over-nav">
										<li class="active">
											<a data-toggle="tab" href="#menu1"><img src="/images/icon/a8.png" alt=""> <span class="tab-hide">Tổng Quan</span>
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#menu2"><img src="/images/icon/a10.png" alt=""> <span class="tab-hide">Tiện nghi</span>
											</a>
										</li>
										<li>
											<a data-toggle="tab" href="#menu3"><img src="/images/icon/a11.png" alt=""> <span class="tab-hide">Tính năng khác</span>
											</a>
										</li>
									</ul>
									<div class="tab-content">
										<div id="menu1" class="tab-pane fade tab-space active in">
											<div class="hp-main-overview">
												<ul>
													<li>Tối đa: <span th:text="${roomDetail.getMax_adult()}"></span>
													</li>
													<li>Diện tích : <span th:text="${roomDetail.getArea()}">800 sq. feet</span>
													</li>
													<li>View : <span>Sea or Garden view</span>
													</li>
													<li>Số giường : <span th:text="${roomDetail.getQuantity_of_bed()}">Available per request</span>
													</li>
													<li>Ăn sáng <span>Yes</span>
													</li>
													<li>Hút thuốc : <span class="ov-yes">Yes</span>
													</li>
												</ul>
											</div>
										</div>
										<div id="menu2" class="tab-pane fade tab-space">
											<div class="row">
												<div class="col-md-6 hp-ov-fac"> <img src="/images/hotel/1.jpg" alt=""> </div>
												<div class="col-md-6">
													<p>Maecenas erat lorem, vulputate sed ex at, vehicula dignissim risus. Nullam non nisi congue elit cursus tempus. Nunc vel ante nec libero semper maximus. Donec cursus sed massa eget commodo. Phasellus semper neque id iaculis malesuada. Nulla efficitur dui vitae orci blandit tempor. Mauris sed venenatis nibh, sed sodales risus.</p>
													<p>Nam sit amet tortor in elit fermentum consectetur et sit amet eros. Sed varius velit at eros tempor sodales. Fusce at enim at lectus sollicitudin pharetra at in risus. Donec ut semper turpis. Maecenas lobortis ante ut eros scelerisque, at semper augue ullamcorper.</p>
												</div>
											</div>
										</div>
										<div id="menu3" class="tab-pane fade tab-space">
											<p>Maecenas erat lorem, vulputate sed ex at, vehicula dignissim risus. Nullam non nisi congue elit cursus tempus. Nunc vel ante nec libero semper maximus. Donec cursus sed massa eget commodo. Phasellus semper neque id iaculis malesuada. Nulla efficitur dui vitae orci blandit tempor. Mauris sed venenatis nibh, sed sodales risus.</p>
											<p>Nam sit amet tortor in elit fermentum consectetur et sit amet eros. Sed varius velit at eros tempor sodales. Fusce at enim at lectus sollicitudin pharetra at in risus. Donec ut semper turpis. Maecenas lobortis ante ut eros scelerisque, at semper augue ullamcorper.</p>
											<p>Maecenas erat lorem, vulputate sed ex at, vehicula dignissim risus. Nullam non nisi congue elit cursus tempus. Nunc vel ante nec libero semper maximus. Donec cursus sed massa eget commodo. Phasellus semper neque id iaculis malesuada. Nulla efficitur dui vitae orci blandit tempor. Mauris sed venenatis nibh, sed sodales risus.</p>
											<p>Nam sit amet tortor in elit fermentum consectetur et sit amet eros. Sed varius velit at eros tempor sodales. Fusce at enim at lectus sollicitudin pharetra at in risus. Donec ut semper turpis. Maecenas lobortis ante ut eros scelerisque, at semper augue ullamcorper.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="hp-section">
								<div class="hp-sub-tit">
									<h4><span>Thư viện ảnh phòng </span><span th:text="${roomDetail.name}"></span></h4>
									<p>Aliquam id tempor sem. Cras molestie risus et lobortis congue. Donec id est consectetur, cursus tellus at, mattis lacus.</p>
								</div>
								<div class="">
									<div class="h-gal">
										<ul>
											<li><img class="materialboxed" data-caption="Hotel Captions" th:src="${roomDetail.poster}" alt="">
											</li>
											<li><img class="materialboxed" data-caption="Hotel Captions" th:src="${roomDetail.poster}" alt="">
											</li>
											<li><img class="materialboxed" data-caption="Hotel Captions" th:src="${roomDetail.poster}" alt="">
											</li>
											<li><img class="materialboxed" data-caption="Hotel Captions" th:src="${roomDetail.poster}" alt="">
											</li>
											<li><img class="materialboxed" data-caption="Hotel Captions" th:src="${roomDetail.poster}" alt="">
											</li>
											<li><img class="materialboxed" data-caption="Hotel Captions" th:src="${roomDetail.poster}" alt="">
											</li>
											<li><img class="materialboxed" data-caption="Hotel Captions" th:src="${roomDetail.poster}" alt="">
											</li>
											<li><img class="materialboxed" data-caption="Hotel Captions" th:src="${roomDetail.poster}" alt="">
											</li>
											<li><img class="materialboxed" data-caption="Hotel Captions" th:src="${roomDetail.poster}" alt="">
											</li>

										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<!--=========================================-->
						<div class="hp-call hp-right-com">
							<div class="hp-call-in"> <img src="/images/icon/dbc4.png" alt="">
								<h3>Đặt ngay <span>để được ưu đãi tốt nhất</span></h3><a href="#">BOOK NOW</a> </div>
						</div>
						<!--=========================================-->
						<!--=========================================-->
						<div class="hp-book hp-right-com">
							<div class="hp-book-in">
								<button class="like-button"><i class="fa fa-heart-o"></i>Thêm vào danh sách</button> <span>Chia sẻ phòng này</span>
								<ul>
									<li><a href="#"><i class="fa fa-facebook"></i> Share</a>
									</li>
									<li><a href="#"><i class="fa fa-twitter"></i> Tweet</a>
									</li>
									<li><a href="#"><i class="fa fa-google-plus"></i> Share</a>
									</li>
									<!-- <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li> -->
								</ul>
							</div>
						</div>
						<!--=========================================-->
					</div>
				</div>
			</div>
		</div>
	</th:block>
<th:block id="js"></th:block>
</body>

</html>