<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: .container-fluid}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>Tất cả đạo diễn</title>
    <th:block id="css"></th:block>
</head>
<body>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-1">
        <h1 class="h3 mb-0 text-gray-800">Director</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="col-3 mb-2">
            <a th:href="@{/admin/director/create}"><button class="btn btn-primary"><i class="fas fa-plus" style="color: #ffffff;"></i>Tạo đạo diễn</button></a>
            <button class="btn btn-primary mx-3"><i class="fas fa-redo" style="color: #ffffff;"></i> Làm lại</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="table-director" class="table table-bordered table-sm table-hover">
                <thead>
                <tr>
                    <th>Tên đạo diễn</th>
                    <th>Ngày sinh</th>
                    <th>Mô tả ngắn</th>
                    <th>Avatar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="director : ${directors}">
                    <td><a th:href="@{/admin/directors/{id}/detail (id = ${director.id}) } "><th:block th:text="${director.director_name}"></th:block></a></td>
                    <td th:text="${#dates.format(director.birthday,'dd/MM/yyyy')}"></td>
                    <td th:text="${director.description}">Bài viết 1</td>
                    <td><img th:src="@{${director.avatar}}" alt="" width="100px" height="100px"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<th:block id="js">
    <script src="/admin/datatables.min.js"></script>
    <script th:inline="javascript">
        $('#table-director').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    </script>
</th:block>
</body>
</html>