<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Management</title>
</head>
<body>
    <h1>Person Management</h1>
    <ul>
        <li><a th:href="@{/persons}">Liệt kê danh sách tất cả người</a></li>
        <li><a th:href="@{/sortPersons}">Liệt kê danh sách sắp xếp theo name A - Z</a></li>
        <li><a th:href="@{/jobs}">Liệt kê danh sách sắp xếp theo nghề nghiệp từ A - Z</a></li>
        <li><a th:href="@{/cities}">Liệt kê danh sách tất cả thành phố sắp xếp từ A - Z</a></li>
        <li><a th:href="@{/groupPeopleByCity}">Liệt kê các thành phố và danh sách người đang sống ở thành phố đó</a></li>
        <li><a th:href="@{/groupJobByCount}">Liệt kê danh sách nghề nghiệp và số người làm nghề đó</a></li>
        <li><a th:href="@{/aboveAvgSalary}">Liệt kê danh sách người có mức lương lớn hơn mức lương trung bình</a></li>
        <li><a th:href="@{/longestName}">Hiển thị người có độ dài tên dài nhất</a></li>
    </ul>
</body>
</html>