<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"  th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang chu</title>

    <th:block id="css">
        <link rel="shortcut icon" th:href="@{/web/image/logo.png}" type="image/x-icon">
    </th:block>
</head>
<body>
<th:block id="main-content">
    <section class="py-4">
        <div class="container">
            <h2 class="mb-3">Phim Hot</h2>
            <div class="row justify-content-between">
                <div class="col-3" th:each="movie: ${movies}">
                    <a class="text-decoration-none text-dark" th:href="@{/phim/{id}/{slug} (id=${movie.id},slug=${movie.slug})}">
                        <div class="movie_item shadow rounded">
                            <img class="rounded-4 p-3" th:src="${movie.poster}" alt="">
                            <p class="mt-2 text-center pb-3" th:text="${movie.title}">Aquaman 2 và vương quốc đã mất</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="py-2">
        <div class="container">
            <div class="d-flex justify-content-between">
                <h2 class="mb-3">Phim Lẻ Mới Cập Nhật</h2>
                <a class="pt-2" th:href="@{/phim-le}">Xem Thêm</a>
            </div>
            <div class="row">
                <div class="col-2" th:each="movie : ${movies2}">
                    <a class="text-decoration-none text-dark" th:href="@{/phim/{id}/{slug} (id=${movie.id},slug=${movie.slug})}">
                        <div class="movie_item">
                            <img class="rounded-4" th:src="${movie.poster}" alt="">
                            <p th:text="${movie.title}" class="mt-2">Aquaman 2 và vương quốc đã mất</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="py-2">
        <div class="container">
            <div class="d-flex justify-content-between">
                <h2 class="mb-3">Phim Chiếu Rạp Mới Cập Nhật</h2>
                <a class="pt-2" th:href="@{/phim-chieu-rap}">Xem Thêm</a>
            </div>
            <div class="row">
                <div class="col-2" th:each="movie : ${movies3}">
                    <a class="text-decoration-none text-dark" th:href="@{/phim/{id}/{slug} (id=${movie.id},slug=${movie.slug})}">
                        <div class="movie_item">
                            <img class="rounded-4" th:src="${movie.poster}" alt="">
                            <p th:text="${movie.title}" class="mt-2">Aquaman 2 và vương quốc đã mất</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="py-2">
        <div class="container">
            <div class="d-flex justify-content-between">
                <h2 class="mb-3">Phim Bộ Mới Cập Nhật</h2>
                <a class="pt-2" th:href="@{/phim-bo}">Xem Thêm</a>
            </div>
            <div class="row">
                <div class="col-2" th:each="movie : ${movies4}">
                    <a class="text-decoration-none text-dark" th:href="@{/phim/{id}/{slug} (id=${movie.id},slug=${movie.slug})}">
                        <div class="movie_item">
                            <img class="rounded-4" th:src="${movie.poster}" alt="">
                            <p th:text="${movie.title}" class="mt-2">Aquaman 2 và vương quốc đã mất</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="py-2">
        <div class="container">
            <div class="d-flex justify-content-between">
                <h2 class="mb-3">Tin tức</h2>
                <a class="pt-2" th:href="@{/blog}">Xem Thêm</a>
            </div>
            <div class="row">
                <div class="col-6" th:each="blog : ${blogs}">
                    <div class="blog_item bg-body-tertiary p-3 rounded-4 mb-4">
                        <h5 th:text="${blog.title}">Top 15 Phim Cổ Trang Trung Quốc Hay Không Thể Bỏ Lỡ Năm 2023</h5>
                        <p class="fst-italic">Ngày <th:block th:text="${blog.publishedAt.date}"></th:block>, <th:block th:text="${#dates.monthName(blog.publishedAt)}"></th:block>, Năm <th:block th:text="${#dates.year(blog.publishedAt)}"></th:block></p>
                        <p><th:block th:text="${blog.description.substring(0,80)}"></th:block>.....<a th:href="@{/blog/{id}/{slug} (id=${blog.id},slug=${blog.slug})}">Xem Thêm</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>
<th:block id="js">
    <script src="/web/js/index.js"></script>
</th:block>
</body>
</html>