<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{web/layout/layout :: layout(~{:: title}, ~{:: #css}, ~{:: #main-content}, ~{:: #js})}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Phim Bộ</title>
    <th:block id="css"></th:block>
</head>
<body>
<th:block id="main-content">
    <section class="py-4">
        <div class="container">
            <h2 class="mb-3 d-flex justify-content-center">Phim Bộ</h2>
            <div class="row p-3">
                <div class="col-3">
                    <div class="dropdown dropdown-center d-grid gap-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Thể Loại
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Hành Động</button></li>
                            <li><button class="dropdown-item" type="button">Cổ Trang</button></li>
                            <li><button class="dropdown-item" type="button">Tình Cảm</button></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="dropdown dropdown-center d-grid gap-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Quốc Gia
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Mỹ</button></li>
                            <li><button class="dropdown-item" type="button">Việt Nam</button></li>
                            <li><button class="dropdown-item" type="button">Nhật Bản</button></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="dropdown dropdown-center d-grid gap-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Phim Lẻ
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">Phim Chiếu Rạp</button></li>
                            <li><button class="dropdown-item" type="button">Phim Bộ</button></li>
                            <li><button class="dropdown-item" type="button">TV Show</button></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div class="dropdown dropdown-center d-grid gap-2">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Năm Sản Xuất
                        </button>
                        <ul class="dropdown-menu">
                            <li><button class="dropdown-item" type="button">2023</button></li>
                            <li><button class="dropdown-item" type="button">2022</button></li>
                            <li><button class="dropdown-item" type="button">2021</button></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-center mb-3">
                <button class="btn btn-success">Tìm Kiếm</button>
            </div>
            <div class="row">
                <div class="col-2" th:each="movie : ${movies1.getContent()}">
                    <a class="text-decoration-none text-dark" th:href="@{/phim/{id}/{slug} (id=${movie.id},slug=${movie.slug})}">
                        <div class="movie_item">
                            <img class="rounded-4" th:src="${movie.poster}" alt="">
                            <p th:text="${movie.title}" class="mt-2 text-center">Aquaman 2 và vương quốc đã mất</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div th:if="${movies1.getTotalPages() > 1}">
            <nav>
                <ul class="pagination justify-content-center" >
                    <li class="page-item" th:classappend="${currentPage == 1 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/phim-bo (page = ${currentPage - 1})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1,movies1.getTotalPages())}" th:classappend="${pageNumber == currentPage ? 'active' : ''}">
                        <a class="page-link" th:text="${pageNumber}" th:href="@{/phim-bo (page=${pageNumber})}"></a>
                    </li>
                    <li class="page-item" th:classappend="${currentPage == movies1.getTotalPages() ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/phim-bo (page = ${currentPage + 1})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</th:block>
<th:block id="js"></th:block>
</body>
</html>