<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="bg-dark py-4 text-white">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img class="bg-white" width="300px" th:src="@{/web/image/logo.png}" alt="">
        <p class="mt-2">Motchill - Xem phim Online Vietsub chất lượng cao miễn phí, nhiều thể loại phim phong phú, đặc sắc, giao diện trực quan, thuận tiện, tốc độ tải nhanh, thường xuyên cập nhật các bộ phim mới.</p>
      </div>
      <div class="col-2">
        <h5 class="text-uppercase mb-3">Danh Mục</h5>
        <p><a class="text-decoration-none text-white" th:href="@{/blog}">Tin Tức</a></p>
        <p><a class="text-decoration-none text-white" th:href="@{/phim-chieu-rap}">Phim Chiếu Rạp</a></p>
        <p><a class="text-decoration-none text-white" th:href="@{/phim-le}">Phim Lẻ</a></p>
        <p><a class="text-decoration-none text-white" th:href="@{/phim-bo}">Phim Bộ</a></p>
      </div>
      <div class="col-2">
        <h5 class="text-uppercase mb-3">Danh Mục</h5>
        <p>Tin Tức</p>
        <p>Phim Chiếu Rạp</p>
        <p>Phim Lẻ</p>
        <p>Tivi Show</p>
      </div>
      <div class="col-2">
        <h5 class="text-uppercase mb-3">Danh Mục</h5>
        <p>Tin Tức</p>
        <p>Phim Chiếu Rạp</p>
        <p>Phim Lẻ</p>
        <p>Tivi Show</p>
      </div>
      <div class="col-2">
        <h5 class="text-uppercase mb-3">Danh Mục</h5>
        <p>Tin Tức</p>
        <p>Phim Chiếu Rạp</p>
        <p>Phim Lẻ</p>
        <p>Tivi Show</p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>